
  /* card dimension: height is 1.587 times width */
* {
  box-sizing: border-box;
}


.discardRow {
  height: 10%;
  width: 100%;
}

.discarded {
  margin: 0 1%;
  width: 8%;

}
.playArea {
  height: 90%;
  width: 100%;
  display: flex;
  justify-items: end;
  flex-direction: row;
  flex-wrap: wrap;
}
.cardHolder{
  width: 20%; 
  height: 25%;
  margin: 0;
  padding: 3.174% 2%; 
  box-sizing: border-box;
}
.cardMove{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.card {
    width: 100%; 
    height: 100%;
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    -o-transition: -o-transform .4s;
    transition: transform .4s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.cardBack,
.cardFace {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.discarded,
.cardMove {
  transition: all 1s linear; 
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
   -o-transition: all 1s ease-out;  
   transform: all 1s linear; 
   -webkit-transform: all 1s linear;
   -moz-transform: all 1s ease-out;
   -ms-transform: all 1s ease-out;
    -o-transform: all 1s ease-out;
}

.discardBig {
  /* transform: scale(1.1) rotate(2700deg); */
  transform: rotate(2700deg);
}
.moveToDiscard {  
  transform: scale(.01) rotate(2520deg);
}

