.cardHolder{
  float: left;
  width: 17.3vw; 
  height: calc(17.3vw * 1.587); /* height is 1.587 times width */
  margin: 1vw 1vw;
  position: static;
  border: solid 1px #282c34;
}
.card {
    width: 17.3vw; 
    height: calc(17.3vw * 1.587);
    position: absolute;
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    -o-transition: -o-transform .4s;
    transition: transform .4s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.cardBack,
.cardFace {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.discardHolder {
  float: left;
  width: 6vw;
  height: 9.1692vw;
  margin: .6vh 1.6vw;
}

.discarded,
.cardMove {
  transition: all 1s linear; 
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
   -o-transition: all 1s ease-out;  
   transform: all 1s linear; 
   -webkit-transform: all 1s linear;
   -moz-transform: all 1s ease-out;
   -ms-transform: all 1s ease-out;
    -o-transform: all 1s ease-out;
}

.discarded {
  width: .63vw;
  height: .9169vw;
  margin: 4.126vh 5.8vw;
  transform-origin: center;
}

.cardMove{
    transform-origin: 5vw 7.6vh;
}
.discardBig {
  transform: scale(10.1) rotate(2700deg);
}
.moveToDiscard {  
  transform: scale(0.03) rotate(2520deg);
  position: absolute;
}
