body {
  overflow: auto;
  text-align: center;
}

.game {
  text-align: center;
}
#youWin,
#youLose,
#timer,
#gameHead {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0 !important;
}
#youWin,
#youLose {
  font-size: 5.5vh;
}
#timer {
  font-size: 10vh;
}

#playDiv {
  width: 24vw;
  height: calc(24vw / 1.75);
  position: fixed;
  bottom: 38vh;
  left: calc(37.5vw - 4.6vw); /* 4.6vw is the margin of playBtn */
  z-index: 9999;
}

.playBtn {
  float: left;
  height: 100%;
  min-height: calc(24vw / 1.75);
  width: 100%;
  max-width: 24vw;
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: 800;
  border-radius: 50%;
  background-color: whitesmoke;
  color: #282c34;
  margin: 0 4.6vw;
}
