.gameHead {
  color: white;
}

.winnersList {
  font-family: 'Press Start 2P', cursive;
  display: grid;
  grid-template-columns: auto 5rem auto;
}

.winnersList > span {
  font-family: 'Press Start 2P', cursive;
}
